body {
    font-family: 'Press Start 2P', cursive;
    background-color: #dcdde1;
}
canvas {
    border: solid 4px black;
}
#score {
    color: #74b9ff;
}
#game {
    text-align: center;
    position: absolute;
    left: 50%;
    /*
    margin-left: -200px;
    */
    margin-left: -15%;
    z-index: 1;
    box-shadow: 0 2px 3px 0px rgba(0,0,0,0.25);
    padding: 30px;
}
.menu {
    z-index: 2;
    position: absolute;
    text-align: center;
    color: #7f8fa6;
    transition: all .2s ease-in-out;
}
.menu:hover {
    transform: scale(1.3); /* make it a little bigger hovering over it */
}
#click {
    display: none;
}